:root{
    --maincolor:orange;
    --whitecolor:white;
    --color:gray;
    
}
*{padding: 0;
  margin : 0;
}


header{
z-index: 1;
background-color:var(--whitecolor);
position: absolute;
top: 0px;
width:100%;
position: fixed;
line-height: 100px;
    
}
.header{
display: flex;
flex-direction: row ;
align-items:center;
justify-content: space-around;
margin-left: 55px;
margin-right: 68px;
   }
.logo{
display: flex;
align-items:center;
font-family: Orbitron;
text-transform: uppercase;
font-size: 30px;
letter-spacing: 0.06em;
}

.logo h5{
padding-left: 3px;
font-size: 30px;
margin-right: 0px;
}
.logo img{
width:86px;
height: 86px;
}
.header__navbar a {
padding:10px 28px;
text-decoration: none;
color:black; }
.header__navbar li {
display: flex;
list-style-type: none;
    
    }
.header__navbar a:hover {
    color: var(--maincolor);   }
.header li{
    list-style-type: none;
}
nav{
    max-width: 70%;
    width:auto;
    margin: 0 auto;
}
.header__navbar {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    list-style-type: none;
    font-family:Orbitron ;
    font-size:16px;
    justify-content: space-between;
    margin:0 auto;
    
    }
.dropdown{
    position: relative;
    display: inline-block; 
    padding:0px 13px ;
    font-family: Orbitron;
    line-height: 100px;
    margin-left: 0 auto;
    }
.dropdown a{
    text-decoration: none;
    color: black;  
}
#checkmenu{
    display: none;
}
.dropdown__list{
display: none;
background-color:white;
position: absolute;
border-radius:10px;
z-index: 1;
line-height: 15px;
left:-50px;
}

.dropdown:hover .dropdown__list{
display: block;
}
.dropdown__list li{
    padding: 15px;
    position: relative;
    padding: 15px 60px;
} 
.dropdown__list li:hover{
    background-color: rgb(139, 139, 139); 
    border-radius:10px;
    color: var(--maincolor);
}
.dropdown__list a:hover{
    color: var(--maincolor);
}
.conteiner__video{
z-index: -1;
width:100%;
position: relative;
}
.conteiner__video video{
    width:100%; }

.portfolio{
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top: 91px;
    font-family: Orbitron;
    padding-bottom: 96px;
    letter-spacing: 0.06em;
    background-color:var(--whitecolor);}
.portfolio a{
    margin-top: 101px;
    line-height: 31px;
    font-size: 25px;
    color:var(--maincolor);
}
.portfolio__maincontainer{
    text-align: center;
    max-width: 100% ;
    width:100%;
   }
.portfolio__maincontainer h4{
    text-decoration: underline;
    margin-top: 40px;
    font-size: 24px;
    line-height: 63px;
    }
.portfolio__maincontainer h1{
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 0.06em;
    margin-bottom: 0px;
    }
.portfolio__maincontainer h4:hover{
    color:var(--maincolor);
}
.portfolio__games{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0 auto;
max-width: 80%;}
.game{  
    font-family: Orbitron;
    }
.game__img{
    margin: 0;
    width: 280px;
    height: 280px;
    border-radius: 50%;}

.portfolio__icons h4{
    margin-top:20px ;
    font-size: 24px;
}
.portfolio__img{
    width: 281px;
    height: 281px;
    border-radius: 50%;
}

section{
    display: flex;
    flex-direction: column;}    

.portfolio  h1{
    padding-bottom: 95px;
    font-size: 50px;
}



/*.allservices{
    font-family: Orbitron;
    
}

.allservices h2{
    letter-spacing: 0.06em;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin:90px 0px;
    
}
.services__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   width:100%;
   margin: auto;
    
}
.service__item{
    display: flex;
    justify-content: center;
    align-items:center;
    width:200px;
    height: 200px;
    border-radius:50%;
    background-color:var(--maincolor);
    position: relative;
    margin: 0 auto;

}
.service{
text-align: center;
min-width: 33.33%;
margin-bottom: 45px;

}
.service h4{
    max-width: 296px;
    font-size: 20px;
    letter-spacing: 0.06em;
    margin: 15px auto

}
.service p{
    font-size: 18px;
}
.gallery{
    padding: 100px 0px 90px 0px;
    font-family: Orbitron;
    text-align: center;
}
.all-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    width:100%;
    margin:0 auto;
}
.all-gallery img{
    filter: grayscale(1) brightness(0.5);
    transition: 0.4s linear;
}
.all-gallery img:hover{
    filter: grayscale(0);
}

.gallery__line-1{
    display: flex;
    justify-content: center;
}
.gallery__line-2{
    display: flex;
    justify-content: center;

}
.gallery__line-3{
    display: flex;
    justify-content: center;
}

.doublerow{
    display: grid;
    grid-template-rows: 1fr 1fr;

     
}
.doublerow img{
    width:100%;
    height: 100%;
    
}



.gallery-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    padding-bottom: 20px;
    max-width: 80%;
    width:100%;
    margin: 0 auto;
    letter-spacing: 0.06em;
    font-size: 22px;
    

}
.gallery-header h2 {
    border-bottom: 3px solid transparent;
    text-transform: capitalize;
}
.gallery-header h2:hover{
    border-bottom: 3px solid var(--maincolor);
    transition:  all .2s;

}


.gallery a{  
    margin-top: 101px;
    line-height: 31px;
    font-size: 25px;
    color:var(--maincolor);
    text-decoration: underline;
}*/
/*.section__about
{
    align-items:center;
    font-family: Orbitron;
    letter-spacing: 0.06em;
    background-color:var(--whitecolor);
    }
.about__items{
    width:100%;
}
.about__items h1{
    font-size: 50px;
    text-align: center;
    font-family: Orbitron;
    margin-bottom:77px ;
    line-height: 63px;
    text-transform: uppercase;
}

.about__items__line__quadra__top{
    margin: 0 auto;
    width:65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background:
    linear-gradient(to right, grey 70%, white 30%) 0 73px/11px 2px repeat-x;
}
.about__items__line__quadra__top h5{
    margin-bottom: 73px;
}

/* .about__items__line__quadra__top::before, .about__items__line__quadra__top::after {
    content: '';
    display: block;
    position: absolute;
    border: 2px dashed grey;
    
  }
  .about__items__line__quadra__top::after{
      border-left: none;
      width:50px;
      height: 279px;
      border-radius:0% 20% 20% 0%;
      top:72px;
      right: -10px;
  }

.about__img{
    width:143px;
    height: 143px;
    border-radius: 50%;
    text-align: center;
}
.section__about h1{
    margin-top: 93px;
    font-size: 50px;
    letter-spacing: 0.0;
}
.about__icon{
    text-align: center;
    margin: 0px 78px;
}
.about__icon h5{
    font-size: 15px;
    line-height: 19px;
}
.about__icon h4{
    font-size: 30px;
    line-height:39px;
}*/



@media (max-width:1366px){

    .logo{
        font-size: 27px;
    }
        .header__navbar{
            font-size:15px;
        }
    .portfolio a{
        line-height: 31px;
        font-size: 20px;
        color:var(--maincolor);
        }
    .game__img{
        width: 260px;
        height: 260px;  
    }
    
    .dropdown{
        margin-left: 0px;
    }
    .header-navbar li{
        padding:10px 15px;
    }
    .nav{
        max-width: 58%;
    }
    }
@media (max-width:1024px){

header{
    z-index: 1;
    background-color:var(--whitecolor);
    position: absolute;
    top: 0px;
    width:100%;
    position: fixed;
}
.header{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 50px
}
.header__burger{
    
    display: block;
    position: relative;
    height: 40px;
    cursor: pointer;
} 
nav{
    order:2;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 60%;
    width:10%;
    margin:0;
}
.header__navbar {  
    top:50px;
    display: none;
    position:absolute;
    text-transform: uppercase;
    list-style-type: none;
    font-family:Orbitron ;
    font-size:16px;       
}

.header__navbar li{
    display: flex;
    justify-content: center;
    width:100%;
    background-color:var(--maincolor);
}
    
.logo{
    font-size: 30px;
}
.logo h5 {
    margin-right: 0px;
} 
.logo img{
        width:70px;
        height:70px;
}
.dropdown{
    line-height: 60px;
    padding:20px 20px;
    margin-left: 10px;
    font-size: 16px;
    position: relative;
     display: inline-block;
    }
.dropdown__list{
    display: none;
    background-color:var(--color);
    position: absolute;
    border-radius:10px;
    z-index: 1;
    line-height: 15px;
    left:-22px;
}
.dropdown:hover .dropdown__list{
    display: block;
}

#checkmenu{
        opacity: 0;}
.menu-button{
        display: block;
        position: relative;
        top:10px;
        z-index: 2;
        width:35px;
        height: 30px;
        cursor: pointer;
}
.burger-line{
        position: absolute;
        top: 10px;
    
        width: 35px;
        height: 3px;
        background-color:var(--maincolor);
        transition: .5s all;
}
.second, .three{
        top:20px;
}
.four{
        top:30px;
}
#checkmenu:checked ~ .first{
        display: none;
}
#checkmenu:checked ~ .second{
    transform: rotate(45deg);
    
}
#checkmenu:checked ~ .three{
    transform: rotate(-45deg);
}
    
#checkmenu:checked ~ .four{
    display: none;
}
.game__img{
     width: 260px;
    height: 260px;
    margin-bottom: 0px; }

@media(max-width: 768px){
.header{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 50px;
}
.header__navbar{
    display: block;
}
.header h5{
    line-height: 50px;
    font-size: 20px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo{
    font-size: 20px;
    line-height: 50px;
}
.dropdown{
    line-height: 50px;
    padding:0px;
}

}

@media(max-width:640px){

.header{
    margin-left: 21px;
    margin-right: 25px;
}

.header a:hover{
    color:var(--maincolor);
}
.logo{
    font-size: 22px;
}
.logo h5{
    margin-right: 187px;
}
.dropdown__list{
        background-color:var(--whitecolor);
}
.portfolio{
    padding-top: 30px;
    padding-bottom: 96px;}

.portfolio__maincontainer h4{
    margin-top: 18px;
    font-size: 22px;}
.portfolio__maincontainer h1{
 font-size: 32px;}
.portfolio__maincontainer h4:hover{
    color:var(--maincolor);}
.game__img{
    margin: 0;
    width: 234px;
    height: 234px;}
.game__img h4{
    margin-top: 9px;}

 .line__double{display: flex;
    flex-direction: row;
}

.about__items h1{
    font-size: 30px;
    text-align: center;
    font-family: Orbitron;
    margin-bottom:56px ;
    
}

.about__items__line__quadra__top{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 12px;
   
}
.about__img{
    width:74px;
    height: 74px;
    border-radius: 50%;
    text-align: center;
   
}
.section__about
{align-items:center;
    font-family: Orbitron;
    }
.about__icon{
    padding: 0px 40px 46px 40px;
    text-align: center;
}
.about__icon h5{
    font-size: 8px;
}
.about__icon h4{
    font-size: 20px;
}
}

@media (max-width:320px){
    header{
        background-color:var(--whitecolor);
        position: absolute;
        width:100%;
        z-index: 1;
        position: fixed;
        line-height: 40px;
        font-family: Orbitron;
        
    }
    .header{
        margin-left: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 3px;
    }
    
    .header__burger{
    display: block;
    position: relative;
    height: 40px;
    cursor: pointer;
    }
     
    .logo img{
        width:28px;
        height:22px;
        margin-right: 2px;
    }
    .header a{
        text-decoration: none;
        color:black;
    }
    .header a:hover{
        color:var(--maincolor);
    }
    .logo{
        display: flex;
        align-items:center;
        font-family: Orbitron;
        text-transform: uppercase;
        font-size: 13px;
    }
    .header__navbar {
        display: none; 
        text-transform: uppercase;
        list-style-type: none;
        font-family:Orbitron ;
        font-size:13px;
        
    }
    .test{
        position:absolute;
        display: none;
        height: 200px;
        width: 100px;
        background-color:#000;
    }
    .header__burger:active .test{
        display:block;
    }
    .dropdown{
    position: relative;
    margin: 0 0 0 40px;
    font-size: 10px;
    }
    .dropdown__list{
    top: 40px;
    display: none;
    background-color:var(--whitecolor);
    position: absolute;
    border-radius:10px;
    z-index: 1;
    left:-45px;
    line-height: 10px;
    list-style-type: none;}
    
    .dropdown:hover .dropdown__list{
    display: block;}
    
    
    .dropdown__list li {
        padding: 15px;
        position: relative;
        margin:10px 25px 0px 25px;
        text-align: center;} 
    .dropdown__list li:hover{
        background-color: rgb(139, 139, 139); 
        border-radius:10px;}
        
    .conteiner__video video{
        width:100%; }
    
    .portfolio{
        display: flex;
        flex-direction: column;
        padding-top: 23px;
        padding-bottom: 20px;
        align-items:center;
        font-family: Orbitron;
        background-color:var(--whitecolor) ;  
    }
    .portfolio a{
        margin-top: 16px;
        color: var(--maincolor);
        
    }
    .portfolio__maincontainer{
        text-align: center;
        max-width: 100% ;
        width:100%;}
    
    .portfolio__maincontainer h4{
        font-size: 14px;
        margin-top: 3px;
        letter-spacing: 0.06em;
        }
    .portfolio__maincontainer h1{
        text-transform: uppercase;
        letter-spacing: 0.06em;
        font-size: 20px;
        margin: 0px 0px 30px 0px;}
    .portfolio__maincontainer h4:hover{
        color:var(--maincolor);}
    .portfolio__games{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        }
        
    .game{  
        font-family: Orbitron;
        }
    .game__img{
        margin: 0;
        width: 234px;
        height: 234px;
        border-radius: 50%;}
        
    /*
    .line__double{
        display: flex;
        flex-direction: row;}
        
        
    .about__items h1{
        font-size: 20px;
        text-align: center;
        font-family: Orbitron;
        margin-bottom:5px ;
         letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 23px;
        }
        
    .about__items__line__quadra__top{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
            
           
        }
    .about__img{
    
        width:37px;
        height: 37px;
        border-radius: 50%;
        text-align: center;
           
        }
    
    .section__about{
        align-items:center;
        font-family: Orbitron;
        margin-top:13px ;
            }
    .about__icon{
        margin:0px 20px 20px 20px; 
        text-align: center;
        }
    .about__icon h5{
        
        font-size: 4px;
        }
    .about__icon h4{
        margin-top: -2px;
        font-size: 9px;
        }
    
    }*/